<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {# <link rel="stylesheet" href="style.css" /> #}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
